<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperaPassServlet</servlet-name>
        <servlet-class>servlet.RecuperaPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoriaServlet</servlet-name>
        <servlet-class>servlet.AddCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserimentoProdottoServlet</servlet-name>
        <servlet-class>servlet.InserimentoProdottoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaCarrelloServlet</servlet-name>
        <servlet-class>servlet.VisualizzaCarrelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshServlet</servlet-name>
        <servlet-class>servlet.RefreshServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaCategorieServlet</servlet-name>
        <servlet-class>servlet.VisualizzaCategorieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicercaServlet</servlet-name>
        <servlet-class>servlet.RicercaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaProdottoServlet</servlet-name>
        <servlet-class>servlet.ModificaProdottoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaProdottoServlet</servlet-name>
        <servlet-class>servlet.EliminaProdottoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InviaOrdineServlet</servlet-name>
        <servlet-class>servlet.InviaOrdineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaricaUtentiServlet</servlet-name>
        <servlet-class>servlet.CaricaUtentiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperaPassServlet</servlet-name>
        <url-pattern>/RecuperaPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoriaServlet</servlet-name>
        <url-pattern>/AddCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserimentoProdottoServlet</servlet-name>
        <url-pattern>/InserimentoProdottoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaCarrelloServlet</servlet-name>
        <url-pattern>/VisualizzaCarrelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshServlet</servlet-name>
        <url-pattern>/RefreshServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaCategorieServlet</servlet-name>
        <url-pattern>/VisualizzaCategorieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicercaServlet</servlet-name>
        <url-pattern>/RicercaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaProdottoServlet</servlet-name>
        <url-pattern>/ModificaProdottoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaProdottoServlet</servlet-name>
        <url-pattern>/EliminaProdottoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InviaOrdineServlet</servlet-name>
        <url-pattern>/InviaOrdineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaricaUtentiServlet</servlet-name>
        <url-pattern>/CaricaUtentiServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
